html,
body {
  height: 100%;
  font-family: var(--sl-font-sans);
}

#root {
  height: 100%;
  background: var(--sl-color-primary-500);
}

.container {
  display: flex;
}

.container_center {
  justify-content: center;
  display: flex;
}

.container_row {
  flex-direction: row;
  column-gap: 20px;
  display: flex;
}

.container_column {
  flex-direction: column;
  row-gap: 10px;
  display: flex;
}

.flex_end {
  justify-content: flex-end;
}