.login_form {
    align-self: center;
    margin-top: 80px;
  }
  
  .icon {
    font-size: 32px;
  }

  .h1 {
    text-align: center;
  }
  
  .hr {
    border: none;
    border-top: 1px solid var(--sl-color-neutral-200);
    color: var(--sl-color-neutral-400);
    overflow: visible;
    text-align: center;
    height: 3px;
  }
  
  .hr:after {
    background: #fff;
    content: "Or";
    padding: 0 4px;
    position: relative;
    top: -11px;
  }
  