.sign_up_form {
  width: 50%;
  align-self: center;
  margin-top: 40px;
}

.icon {
  font-size: 32px;
}

.hr {
  border: none;
  border-top: 1px solid var(--sl-color-neutral-200);
  color: var(--sl-color-neutral-400);
  overflow: visible;
  text-align: center;
  height: 3px;
}

.hr:after {
  background: var(--sl-color-primary-950);
  content: "Or";
  padding: 0 4px;
  position: relative;
  top: -11px;
}

.span {
  color: var(--sl-color-danger-700);
  visibility: visible;
}

p {
  color: var(--sl-color-danger-700);
  padding-left: 2px;
  margin: 0px;
}

.errorInput {
  color: var(--sl-color-danger-700);
  border: 1px solid var(--sl-color-neutral-1000);
}
